<div class="container">
    <form #mform= "ngForm" (ngSubmit)= "add(mform)" class="form table-responsive" ngNativeValidate>
        <h1>AdminLogin</h1>
        <p>Sign in to continue to StarBus</p>
        <hr>
        <label for="name"><b>Admin-Name</b></label>
        <input type="email" placeholder="Enter Admin-name" name="email" [(ngModel)]="login.email" required>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="login.password" required>
        <button type="submit" class="registerbtn">Login</button>
        <hr>
        
    </form>
</div>
