<div class="panel">
   
    <div class="panel-heading">{{ title }}</div>
 
    <div class="panel-body">
        *<div class="container">
                <input class="form-control form-control-lg" [(ngModel)]="from" type="text" placeholder="From">
                <input class="form-control form-control-lg" [(ngModel)]="to" type="text" placeholder="To">
            <table class="table table-dark">
                <thead >
                    <tr>
                        <th>Bus ID</th>
                        <th>Name</th>
                        <th>Source</th>
                        <th>Destination</th>
                        <th>Fare</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let f of flights'>
                        <td>{{f.flight_id}}</td>
                        <td>{{f.flight_name}}</td>
                        <td>{{f.from}}</td>
                        <td>{{f.to}}</td>
                    </tr>
                </tbody>
            </table>
            <button (click)="getBus(from, to)" type="button" class="btn btn-primary btn-block">Search</button>
        </div>
    </div>
</div>